<template>
  <div>
    <base-card v-if="!profileDataIsReady">
      <v-skeleton-loader type="article"> </v-skeleton-loader>
    </base-card>
    <base-card v-else>
      <v-list-item>
        <v-list-item-avatar color="primary">
          <v-icon>mdi-tshirt-crew-outline</v-icon>
        </v-list-item-avatar>
        <v-list-item-title class="headline font-weight-thin">
          Your items
        </v-list-item-title>
        <v-list-item-action class="mr-3">
          <v-btn
            small
            fab
            color="primary"
            :disabled="!valid"
            @click="addItem()"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-list-item-action>
        <v-list-item-action class="mr-3">
          <v-btn
            small
            fab
            color="primary"
            @click="deleteSwitch()"
            :disabled="!valid || !!selectedItem"
          >
            <v-icon>{{ isDeleting ? "mdi-close" : "mdi-delete" }}</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
      <v-list-item dense>
        <v-row>
          <v-col class="pb-2 pt-0">
            <v-btn
              :loading="isSaving"
              color="upper"
              light
              small
              block
              :disabled="!canSave"
              @click="saveChanges"
            >
              <v-icon left dark>mdi-content-save-outline</v-icon>
              Save
            </v-btn>
          </v-col>
          <v-col class="pb-2 pt-0">
            <v-btn
              color="primary"
              small
              block
              :disabled="isSaving"
              @click="setStartingState()"
            >
              <v-icon left dark>mdi-restore</v-icon>
              Restore
            </v-btn>
          </v-col>
        </v-row>
      </v-list-item>
      <v-list color="primary darken-1" class="py-0">
        <v-list-item v-if="!noItems" dense>
          <v-row class="mx-auto">
            <v-col cols="1" class="d-flex pa-0">
              <v-icon color="secondary" :disabled="!!selectedItem"
                >mdi-magnify</v-icon
              >
            </v-col>
            <v-col cols="10" class="pa-0">
              <v-text-field
                v-model="search"
                :disabled="!!selectedItem"
                solo
                flat
                clearable
                dense
                hide-details="true"
                placeholder="Search for items"
                @keydown.esc="search = ''"
              >
              </v-text-field>
            </v-col>
            <v-col cols="1" class="pa-0 d-flex justify-end">
              <v-btn
                icon
                small
                color="secondary"
                fab
                @click="sortItems(nextSortOrder)"
                :disabled="!!selectedItem"
              >
                <v-icon
                  >{{
                    sortOrder === "asc"
                      ? "mdi-sort-alphabetical-descending"
                      : "mdi-sort-alphabetical-ascending"
                  }}
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-list-item>
        <v-list-item v-if="noItems" @click="addItem()" three-line>
          <v-list-item-content>
            <v-list-item-title>Click here to start adding your clothing</v-list-item-title>
            <v-list-item-subtitle>
              Change the colour with the button. Items are shared between your profiles.
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list outlined color="darkback" v-if="!noItems">
        <template v-for="item in itemsPage">
          <v-list-item v-if="item.itemId != selectedItem" :key="item.itemId">
            <v-list-item-avatar :color="item.color" size="25">
            </v-list-item-avatar>
            <v-list-item-title class="text--secondary" style="margin-top: 2px">
              {{ item.text }}
            </v-list-item-title>
            <v-list-item-action class="my-0">
              <v-btn
                v-if="isDeleting"
                x-small
                fab
                color="accent"
                @click="deleteItem(item.itemId)"
                :key="item.itemId + 'd'"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
              <v-btn
                v-else
                :disabled="!valid"
                x-small
                fab
                color="primary"
                @click="itemSelected(item.itemId)"
                :key="item.itemId"
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
          <v-list-item
            v-else
            :key="item.itemId + 'a'"
            style="background-color: #333842 !important"
          >
            <v-list-item-avatar
              :color="item.color"
              size="25"
              @click="cycleColor(item.itemId)"
            >
              <v-icon small>mdi-sync</v-icon>
            </v-list-item-avatar>
            <v-list-item-title>
              <v-form @submit.prevent="" v-model="valid">
                <v-text-field
                  autofocus
                  dense
                  class="mt-0"
                  :rules="inputRules"
                  hide-details="auto"
                  v-model.trim="item.text"
                  @change="enableSave()"
                  @keydown.enter.esc="closeItemEditing(item.itemId)"
                >
                </v-text-field>
              </v-form>
            </v-list-item-title>
            <v-list-item-action class="my-0">
              <v-btn
                x-small
                fab
                color="primary"
                @click="closeItemEditing(item.itemId)"
                :disabled="duplication"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </template>
        <v-list-item v-if="!noItems && filteredItems.length === 0">
          <v-list-item-title> No matching items! </v-list-item-title>
        </v-list-item>
      </v-list>
      <v-pagination
        v-if="pages > 1"
        v-model="page"
        :length="pages"
        color="primary lighten-1"
        circle
      ></v-pagination>
    </base-card>
    <v-dialog v-model="unSavedDialog" max-width="290">
      <base-dialog
        :dialogObj="unSavedDialogObj"
        @optional="leaveDecision('save')"
        @confirm="leaveDecision('discard')"
        @cancel="unSavedDialog = false"
      ></base-dialog>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    valid: true,
    colors: ["accent", "middle", "upper"],
    selectedColor: "",
    page: 1,
    // itemsPerPage: 8,
    search: null,
    selectedItem: "",
    availableItems: [],
    isDeleting: false,
    sortOrder: "asc",
    isSaving: false,
    synced: true,
    duplication: false,
    unSavedDialog: false,
    unSavedDialogObj: {
      iconColor: "upper",
      icon: "mdi-alert-circle-outline",
      title: "Unsaved changes",
      message: "You can save your changes, discard them or continue editing.",
      optionalButtonText: "Save",
      optionalButtonColor: "upper",
      confirmButtonText: "Discard",
      confirmButtonColor: "accent",
      cancelButtonText: "Edit",
    },
  }),

  beforeRouteLeave(to, _, next) {
    if (this.synced) {
      next();
      return;
    } else if (!this.synced && !this.valid) {
      this.unSavedDialogObj.optionalButtonText = "";
    } else {
      this.unSavedDialogObj.optionalButtonText = "Save";
    }
    this.unSavedDialog = true;
    this.to = to;
  },

  methods: {
    async leaveDecision(choice) {
      this.unSavedDialog = false;
      if (choice == "save") {
        await this.saveChanges();
      } else if (choice == "discard") {
        this.synced = true;
      }
      this.$router.push(this.to);
    },
    enableSave() {
      this.synced = false;
    },
    async saveChanges() {
      this.isSaving = true;

      const allItemsToSend = {};
      this.availableItems.forEach(
        (item) =>
          (allItemsToSend[item.itemId] = { name: item.text, type: item.color })
      );

      await this.$store.dispatch("profiles/saveItems", {
        items: allItemsToSend,
      });

      this.synced = true;
      this.isSaving = false;
    },
    cycleColor(id) {
      this.enableSave();
      const itemIndex = this.availableItems.findIndex(
        (item) => item.itemId === id
      );

      const colorIndex = this.colors.indexOf(
        this.availableItems[itemIndex].color
      );

      if (colorIndex === -1 || colorIndex === this.colors.length - 1) {
        this.selectedColor = this.colors[0];
      } else {
        this.selectedColor = this.colors[colorIndex + 1];
      }

      this.availableItems[itemIndex].color = this.selectedColor;
    },

    addItem() {
      const key = "i-" + Date.now();
      this.availableItems.unshift({ text: "", color: "primary", itemId: key });
      this.isDeleting = false;
      this.page = 1;
      this.selectedItem = key;
      this.valid = false;
      this.enableSave();
    },

    itemSelected(id) {
      this.selectedItem = id;
    },

    closeItemEditing(id) {
      if (this.duplication) {
        return;
      }

      const itemIndex = this.availableItems.findIndex(
        (item) => item.itemId === id
      );

      if (!this.availableItems[itemIndex].text) {
        this.availableItems.splice(itemIndex, 1);
        this.valid = true;
      }
      this.selectedItem = "";
    },

    deleteItem(id) {
      this.enableSave();
      this.availableItems.splice(
        this.availableItems.findIndex((item) => item.itemId === id),
        1
      );
    },

    deleteSwitch() {
      this.selectedItem = "";
      this.isDeleting = !this.isDeleting;
    },

    setStartingState() {
      this.valid = true;
      this.synced = true;
      this.isDeleting = false;
      this.selectedItem = "";

      this.availableItems = [];

      if (this.allItemsArray.length === 0) {
        return;
      }

      this.allItemsArray.map((i) =>
        this.availableItems.push({
          itemId: i[0],
          text: i[1].name,
          color: i[1].type,
        })
      );

      this.sortOrder = "asc";
      this.sortItems(this.sortOrder);
    },

    sortItems(sortOrder) {
      this.availableItems.sort((a, b) => {
        let ta = a.text.toLowerCase(),
          tb = b.text.toLowerCase();

        const sortDirection = sortOrder === "asc" ? 1 : -1;

        if (ta < tb) {
          return -1 * sortDirection;
        }
        if (ta > tb) {
          return 1 * sortDirection;
        }

        return 0;
      });

      this.sortOrder = sortOrder;
    },
    async loadAllData() {
      await this.$store.dispatch("profiles/loadAllData", {
        forceRefresh: false,
      });
      this.setStartingState();
    },

    numberOfSameItemNames(value) {
      const duplication = this.availableItems.filter((i) => {
        return i.text.toLowerCase() === value.trim().toLowerCase();
      }).length;

      this.duplication = duplication > 1 ? true : false;

      return duplication;
    },
  },
  computed: {
    ...mapGetters({
      items: "profiles/items",
      profileDataIsReady: "profiles/dataIsReady",
    }),

    allItemsArray() {
      if (this.items === undefined) {
        return [];
      }
      return Object.entries(this.items);
    },

    filteredItems() {
      if (this.search) {
        return this.availableItems.filter((i) =>
          i.text.toLowerCase().includes(this.search.toLowerCase())
        );
      }
      return this.availableItems;
    },

    itemsPage() {
      const pageNo = Math.min(this.page, this.pages);
      const startNum = pageNo === 1 ? 0 : this.itemsPerPage * (pageNo - 1);
      return this.filteredItems.slice(startNum, startNum + this.itemsPerPage);
    },

    pages() {
      return Math.ceil(this.filteredItems.length / this.itemsPerPage);
    },

    inputRules() {
      return [
        (v) => !!v.trim() || "Field cannot be empty. Enter/Esc to delete.",
        (v) => this.numberOfSameItemNames(v) <= 1 || "Item already exists!",
      ];
    },

    nextSortOrder() {
      return this.sortOrder === "asc" ? "desc" : "asc";
    },

    noItems() {
      return this.availableItems.length === 0 ? true : false;
    },

    canSave() {
      return this.valid && !this.synced && !this.isSaving;
    },

    itemsPerPage() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 8;
      } else return 12;
    }
  },
  created() {
    this.loadAllData();
  },
};
</script>
    
<style>

</style>