<template>
  <div>
    <template v-if="profileDataIsReady && weatherDataIsReady">
      <v-row justify="center" v-if="profiles.length === 0" class="pt-4">
        <v-btn @click="$router.push('profiles')" outlined small color="upper">
          <v-icon small left dark>mdi-plus</v-icon>
          Create a profile
        </v-btn>
      </v-row>
      <base-card v-for="profile in profiles" :key="profile.name">
        <v-list-item :to="'/profiles/' + profile.id">
          <v-list-item-avatar color="primary">
            <v-icon>{{ profile.avatar }}</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="text-h6 text-uppercase font-weight-thin">
              {{ profile.name }}
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ selectedPeriod.title }}: {{ selectedPeriod.temp }}&deg;C
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list color="darkback" dense>
          <v-list-item>
            <v-row class="mx-auto">
              <v-col class="d-flex justify-start pa-0 flex-wrap">
                <v-list-item-subtitle v-if="!!noRulesForProfile[profile.id]">
                  No rules match temperature or no items in rule.
                </v-list-item-subtitle>
                <clothing-chip
                  v-for="(item, key) in getItemsForTemp(profile.id)"
                  :key="key"
                  v-bind:color="item.color"
                  :label="!!item.label"
                  :icon="item.icon"
                  :clickable="false"
                >
                  {{ item.text }}
                </clothing-chip>
              </v-col>
            </v-row>
          </v-list-item>
        </v-list>
      </base-card>
    </template>
    <base-card v-else color="darkback">
      <v-skeleton-loader type="list-item-avatar-three-line">
      </v-skeleton-loader>
    </base-card>
  </div>
</template>

<script>
import ClothingChip from "../clothes/ClothingChip";
import { mapGetters } from "vuex";

export default {
  components: {
    ClothingChip,
  },
  data: () => ({
    noRulesForProfile: {},
  }),
  methods: {
    getItemsForTemp(id) {
      let ruleForTemp = {};
      if (this.rulesAndItems[id] !== undefined) {
        ruleForTemp = this.rulesAndItems[id].find(
          (i) =>
            i.minTemp <= this.selectedPeriod.temp &&
            i.maxTemp >= this.selectedPeriod.temp
        );
      }

      if (ruleForTemp && ruleForTemp.items && ruleForTemp.items.length > 0) {
        this.$set(this.noRulesForProfile, id, false);
        return ruleForTemp.items;
      }

      this.$set(this.noRulesForProfile, id, true);
      return [];
    },
  },
  computed: {
    ...mapGetters({
      rulesAndItems: "profiles/rulesAndItems",
      profiles: "profiles/profiles",
      profileDataIsReady: "profiles/dataIsReady",
      weatherDataIsReady: "weather/dataIsReady",
      selectedPeriod: "weather/selectedPeriod",
    }),
  },
};
</script>

<style>
</style>