<template>
    <v-chip
    :color="color"
    small
    :label="label"
    light class="mr-1 mb-2"
    @click="chipClicked()"
    :ripple="clickable"
    >
        <v-icon small left v-if="!!icon">{{ icon }}</v-icon>
        <slot></slot>
    </v-chip>
</template>

<script>
export default {
    emits: ['chipClicked'],
    props: {
        color: {
            type: String,
            required: false,
            default: 'primary'
        },
        icon: {
            type: String,
            required: false
        },
        label: {
            type: Boolean,
            required: false,
            default: false
        },
        clickable: {
            type: Boolean,
            required: false,
            default: true
        }
    },
    methods: {
        chipClicked() {
            this.$emit('chipClicked')
        }
    }
}
</script>
