<template>
  <v-tabs
    v-model="tabModel"
    background-color="darkback"
    color="upper"
    fixed-tabs
    icons-and-text
  >
    <v-tab
      class="text-caption pa-0"
      v-for="(tab, index) in filteredTabs"
      :key="index"
      >{{ tab.title }}
      <v-icon>{{ icons[tab.icon] }}</v-icon>
    </v-tab>

    <v-tabs-items v-model="tabModel" @change="setTab()">
      <v-tab-item v-for="(tab, index) in filteredTabs" :key="index">
        <forecast-tab
          v-bind:days="tab.days"
          v-bind:fromHour="tab.fromHour"
          v-bind:toHour="tab.toHour"
          v-bind:nextHourRange="tab.nextHourRange"
        >
          ></forecast-tab
        >
      </v-tab-item>
    </v-tabs-items>
  </v-tabs>
</template>

<script>
import ForecastTab from "./ForecastTab.vue";

export default {
  components: {
    ForecastTab,
  },
  data() {
    return {
      tabModel: null,
    };
  },
  methods: {
    slideIcon(index) {
      return this.icons[index];
    },
  },
  computed: {
    storedTabs() {
      return this.$store.getters["weather/tabs"];
    },

    filteredTabs() {
      const nextHour = new Date().getHours() + 1;
      return this.storedTabs.filter(
        (t) =>
          !(t.nextHourRange === 0 && nextHour >= t.fromHour && t.days === 0)
      );
    },

    icons() {
      return this.$store.getters["weather/icons"];
    },
  },
  watch: {
    tabModel: function (val) {
      const payload = {
        title: this.filteredTabs[val].title,
        fromHour: this.filteredTabs[val].fromHour,
        toHour: this.filteredTabs[val].toHour,
        nextHourRange: this.filteredTabs[val].nextHourRange,
        days: this.filteredTabs[val].days,
      };

      this.$store.dispatch("weather/setSelectedPeriod", payload);
    },
  },
};
</script>