<template>
  <v-sheet height="100%" color="darkback" rounded="" class="text-center pb-2 pt-2">
    <v-row
      class="text--secondary"
      v-for="forecastProp in getDataArrays"
      :key="forecastProp.id"
      dense
      no-gutters
    >
      <v-col cols="2" align-self="center">
        <v-icon small color="upper">
          {{ forecastProp.icon }}
        </v-icon>
      </v-col>
      <v-col
        v-for="item in forecastProp.arrayObj"
        :key="item.id"
        align-self="center"
        :class="forecastProp.textStyle"
      >
        <div v-if="!!item.iconUrl" class="d-flex justify-center">
        <v-avatar color="secondary">

          <v-img
            max-width="40px"
            max-height="40px"
            :src="weatherIcon(item.iconUrl)"
          >
          </v-img>
        </v-avatar>
        </div>
        <div v-else v-html="item.data"></div>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
import WindSpeedCatsMixin from "../weather/windSpeedMixin.js"

export default {
  props: {
    days: Number,
    fromHour: Number,
    toHour: Number,
    nextHourRange: Number,
  },
  mixins: [ WindSpeedCatsMixin ],
  data: () => ({}),
  methods: {
    hourToUnixTimeDayOffset(hour, days) {
      let tomorrow = new Date();
      tomorrow.setDate(tomorrow.getDate() + days);
      return tomorrow.setHours(hour, 0, 0, 0) / 1000;
    },
    unixTimeToHours(unixTimestamp) {
      const date = new Date(unixTimestamp * 1000);
      const options = { hour: 'numeric', minute: 'numeric' }
      return date.toLocaleTimeString('en-GB', options)
    },
    weatherIcon(icon) {
      return `https://openweathermap.org/img/wn/${icon}.png`;
    },
    
  },
  computed: {
    selectedHours() {
      const hourArray = [];
      for (let i = this.fromHour; i < this.toHour + 1; i++) {
        hourArray.push(i);
      }
      return hourArray;
    },

    weatherHourlyForecast() {
      return this.$store.getters["weather/weatherHourly"];
    },
    getDataArrays() {
      let unixTimeArray = [];
      let filteredData = [];

      if (this.nextHourRange === 0) {
        unixTimeArray = this.selectedHours.map((item) =>
          this.hourToUnixTimeDayOffset(item, this.days)
        );
        filteredData = this.weatherHourlyForecast.filter((item) =>
          unixTimeArray.includes(item.dt)
        );
      } else {
        filteredData = this.weatherHourlyForecast.slice(1, this.nextHourRange + 1);
      }

      const dataArrays = [];
      const hours = [];
      const temps = [];
      const conditions = [];
      const rains = [];
      const winds = [];

      for (let i = 0; i < filteredData.length; i++) {
        const hourObj = {
          id: "h" + (i + 1).toString(),
          data: this.unixTimeToHours(filteredData[i].dt),
        };
        hours.push(hourObj);

        const tempObj = {
          id: "t" + (i + 1).toString(),
          data: Math.round(filteredData[i].temp).toString() + " &deg;C",
        };
        temps.push(tempObj);

        const conditionObj = {
          id: "c" + (i + 1).toString(),
          iconUrl: filteredData[i].weather[0].icon,
          data: filteredData[i].weather[0].main,
        };
        conditions.push(conditionObj);

        const windObj = {
          id: "w" + (i + 1).toString(),
          data:
            this.getWindSpeedCategory(filteredData[i].wind_speed)
            // Math.round(filteredData[i].wind_speed * 3.6).toString() + " km/h",
        };
        winds.push(windObj);

        const rainObj = {
          id: "r" + (i + 1).toString(),
          data: +Math.round(filteredData[i].pop * 100) + " %",
        };
        rains.push(rainObj);
      }

      dataArrays.push({
        id: 1,
        name: "conditions",
        icon: "",
        textStyle: "text-caption",
        arrayObj: conditions,
      });

      dataArrays.push({
        id: 2,
        name: "hours",
        icon: "mdi-clock",
        textStyle: "text-caption font-weight-bold",
        arrayObj: hours,
      });

      dataArrays.push({
        id: 3,
        name: "temps",
        icon: "mdi-thermometer",
        textStyle: "text-caption",
        arrayObj: temps,
      });

      dataArrays.push({
        id: 4,
        name: "winds",
        icon: "mdi-weather-windy",
        textStyle: "text-caption",
        arrayObj: winds,
      });

      dataArrays.push({
        id: 5,
        name: "rains",
        icon: "mdi-weather-rainy",
        textStyle: "text-caption",
        arrayObj: rains,
      });

      return dataArrays;
    },
  },
};
</script>