<template>
  <v-card v-if="geoLocationIsUnavailable" class="mx-auto" max-width="650">
    <v-alert
      v-model="alert"
      dense
      text
      tile
      type="error"
      icon="mdi-alert-circle-outline"
      dismissible
      class="my-1"
    >
      Geolocation is needed: {{ geoLocationErrorMsg }}
    </v-alert>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    alert: true,
  }),
  computed: {
    ...mapGetters("weather", [
      "geoLocation",
      "geoLocationErrorMsg",
      "geoLocationIsUnavailable",
    ]),
  },
};
</script>