<template>
  <base-card color="secondary">
    <v-skeleton-loader type="article" v-if="!dataIsReady"> </v-skeleton-loader>

    <v-container v-if="dataIsReady">
      <v-row no-gutters class="mx-auto" align="center">
        <span style="min-width: 44px; max-width: 44px"><v-img :src="weatherIcon"></v-img></span>
        <span class="text-h4 font-weight-thin">{{ Math.round(weather.current.temp) }}&deg;</span>
        <span class="pl-3">
          <div class="text-body-1">{{city}}</div>
          <!-- <div class="text-capitalize text-body-2">{{ weather.current.weather[0].main }}</div> -->
          <div class="text-body-2">
            <v-carousel hide-delimiters :show-arrows="false" cycle height="20px" interval="2500">
              <v-carousel-item>
                <v-icon small>mdi-weather-windy</v-icon> {{ getWindSpeedCategory(weather.current.wind_speed) }}
              </v-carousel-item>
              <v-carousel-item>
                Feels like {{ Math.round(weather.current.feels_like) }}&deg;
              </v-carousel-item>
            </v-carousel>
          </div>
        </span>
        <v-spacer></v-spacer>
        <span class="text-caption flex-wrap">
          <div class="d-flex align-center">
            <v-icon small title="Sunrise" class="pr-1">mdi-weather-sunset-up</v-icon>
            <span>{{ weather.current.sunrise | unixTimeToLocalHourMinutes }}</span>
          </div>
          <div class="d-flex align-center">
            <v-icon small title="Sunset" class="pr-1">mdi-weather-sunset-down</v-icon>
            <span>{{ weather.current.sunset | unixTimeToLocalHourMinutes }}</span>
          </div>
        </span>
        <span class="pl-3">
              <v-btn small icon @click="loadWeather()">
                <v-icon>mdi-sync</v-icon>
              </v-btn>
            </span>
      </v-row>
      <!-- <v-row no-gutters class="mx-auto text-body-2 mt-1 text-center justify-center" align="center">
        <v-col cols="4">
          Feels like {{ Math.round(weather.current.feels_like) }}&deg;
        </v-col>
        <v-col cols="4">
          <v-icon small>mdi-weather-windy</v-icon> {{ getWindSpeedCategory(weather.current.wind_speed) }}
        </v-col>
      </v-row> -->
      <!-- <v-row class="mx-auto text-caption">
        <v-col class="pa-0">{{today}}</v-col>
        <v-col class="pa-0 text-right">{{timerText}}</v-col>
      </v-row> -->

      <!-- Carousel row below -->
      <!-- <v-row></v-row> -->
    </v-container>
    <forecast-tabs v-if="dataIsReady"></forecast-tabs>
  </base-card>
</template>

<script>
import { mapGetters } from "vuex";
import ForecastTabs from "../weather/ForecastTabs.vue";
import WindSpeedCatsMixin from "../weather/windSpeedMixin.js"

export default {
  components: {
    ForecastTabs,
  },
  data: () => ({}),
  mixins: [ WindSpeedCatsMixin ],
  methods: {
    loadWeather() {
      this.$store.dispatch("tryLogin");
      if (this.isLoggedIn) {
        this.$store.dispatch("weather/loadWeatherWithGeoLoc");
      }
    },
  },
  computed: {
    ...mapGetters("weather", [
      "dataIsReady",
      "weather",
      "geoLocation",
      "lastFetch",
      "city"
    ]),

    timerText() {
      const date = new Date(this.lastFetch);
      return date.toLocaleTimeString("en-GB", {
        hour: "2-digit",
        minute: "2-digit",
      });
    },

    today() {
      return new Date().toLocaleString("en-GB", {
        weekday: "short",
        month: "short",
        day: "numeric",
      });
    },

    weatherIcon() {
      return `https://openweathermap.org/img/wn/${this.weather.current.weather[0].icon}@2x.png`;
    },

    isLoggedIn() {
      return this.$store.getters["isLoggedIn"];
    }
  },
  created() {
    if (!this.dataIsReady) {
      this.loadWeather();
    }
  },
};
</script>