<template>
  <v-card v-if="dataIsReady" class="mx-auto" max-width="650">
    <v-alert
      v-for="alert in weatherAlerts"
      :key="alert.event"
      v-model="alert[alert.event]"
      dense
      tile
      type="warning"
      icon="mdi-alert-outline"
      dismissible
      text
      class="my-1"
    >
      {{ alert.event }}
      <div class="caption">
        {{ alert.start | unixTimeToLocalDate }} -
        {{ alert.end | unixTimeToLocalDate }}
      </div>
    </v-alert>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    // weatherAlertStatic: [
    //     {
    //         event: "Yellow rain warning",
    //         start: '1597341600',
    //         end: '1597366800',
    //     },
    //     {
    //         event: "Red rain warning",
    //         start: '1597341600',
    //         end: '1597366800',
    //     },
    // ]
  }),
  computed: {
    ...mapGetters("weather", ["dataIsReady", "weatherAlerts"]),
  },
};
</script>