<template>
  <div>
    <base-card v-if="!dataIsReady">
      <v-skeleton-loader type="article"> </v-skeleton-loader>
    </base-card>
    <base-card v-else>
      <v-list-item>
        <v-list-item-title class="headline font-weight-thin"
          >Your profiles</v-list-item-title
        >
      </v-list-item>
      <v-list outlined color="darkback">
        <v-list-item-group v-model="selectedList">
          <v-list-item v-if="profiles.length === 0" three-line>
            <v-list-item-content>
              <v-list-item-title>Add your profiles below</v-list-item-title>
              <v-list-item-subtitle>
                Profiles allow you to choose different clothing items for different activities
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            v-for="profile in profiles"
            :key="profile.name"
            :to="'/profiles/' + profile.id"
          >
            <v-list-item-avatar color="accent">
              <v-icon>{{ profile.avatar }}</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>{{ profile.name }}</v-list-item-content>
          </v-list-item>
        </v-list-item-group>
        <v-divider></v-divider>
        <!-- Text field input -->
        <v-form @submit.prevent="saveProfile">
          <v-list-item>
            <v-list-item-content>
              <v-text-field
                :loading="isSaving"
                label="Add new..."
                hide-details="auto"
                v-model.trim="newProfile"
                clearable
                prepend-icon="mdi-plus"
                color="secondary"
                :disabled="isSaving"
                :error-messages="errorMessage"
                @input="clearError"
              ></v-text-field>
            </v-list-item-content>
            <v-list-item-action v-if="!!newProfile">
              <v-btn
                :disabled="!valid"
                type="submit"
                fab
                small
                color="secondary"
                @click.prevent="saveProfile"
              >
                <v-icon>mdi-check</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Choose an icon for the new profile:</v-list-item-subtitle>
            <v-btn-toggle borderless v-model="radioVal" background-color="darkback">
              <v-btn
                icon
                v-for="(icon, key) in iconOptions"
                  :key="key"
                  :value="icon"
              ><v-icon>{{ icon }}</v-icon>
              </v-btn>
            </v-btn-toggle>
          <!-- <v-radio-group
            v-model="radioVal"
            mandatory
            hide-details="auto"
            class="mt-0 px-2"
          >
                <v-radio
                  color="secondary"
                  v-for="(icon, key) in iconOptions"
                  :key="key"
                  :value="icon"
                >
                <template v-slot:label>
                    <v-icon>{{ icon }}</v-icon>
                </template>
                </v-radio>
              </v-radio-group> -->
            </v-list-item-content>
          </v-list-item>
        </v-form>
      </v-list>
    </base-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data: () => ({
    newProfile: '',
    valid: true,
    errorMessage: '',
    isSaving: false,
    selectedList: null,
    radioVal: null,
    iconOptions: [
      'mdi-tshirt-crew',
      'mdi-bike',
      'mdi-hiking',
      'mdi-run-fast',
      'mdi-account-hard-hat',
      'mdi-party-popper'
    ]
  }),
  methods: {
    clearError() {
      this.errorMessage = '';
    },
    async saveProfile() {
      const nameExists = this.profiles.filter(
        (el) => el.name === this.newProfile
      );

      if (nameExists.length !== 0) {
        this.errorMessage = 'Name already exists!';
        return;
      }

      if (this.radioVal === null) {
        this.errorMessage = 'Please choose an icon as well.';
        return;
      }

      this.clearError();

      this.isSaving = true;
      const newProfileObj = {
        name: this.newProfile,
        avatar: this.radioVal,
      };
      await this.$store.dispatch('profiles/saveProfile', newProfileObj);

      this.newProfile = '';
      this.isSaving = false;
    },
    loadAllData() {
      this.$store.dispatch('profiles/loadAllData', { forceRefresh: false });
    },
  },
  computed: {
    ...mapGetters('profiles', ['dataIsReady', 'profiles']),

    addIcon() {
      return this.newProfile ? 'mdi-check' : '';
    },
  },
  created() {
    this.loadAllData();
  },
};
</script>
    
<style>
</style>