<template>
  <div>
    <base-card v-if="!profileDataIsReady">
      <v-skeleton-loader type="article"> </v-skeleton-loader>
    </base-card>
    <base-card v-else>
      <v-form v-model="valid">
        <v-list-item v-if="selectedProfile">
          <v-list-item-avatar color="primary">
            <v-icon>{{ selectedProfile.avatar }}</v-icon>
          </v-list-item-avatar>
          <v-list-item-title class="headline font-weight-thin">
            {{ selectedProfile.name }}
          </v-list-item-title>
          <v-list-item-action class="mr-3">
            <v-btn small fab color="primary" @click="addEmptyRule()">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-list-item-action>
          <v-list-item-action class="mr-3">
            <v-btn small fab color="primary" @click="toggleEditing()" :disabled="!synced">
              <v-icon>{{ canEdit ? "mdi-close" : "mdi-pencil" }}</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-list-item dense>
          <v-row>
            <v-col class="pb-2 pt-0">
              <v-btn
                :loading="isSaving"
                color="upper"
                light
                small
                block
                :disabled="!canSave"
                @click="saveChanges"
              >
                <v-icon left dark>mdi-content-save-outline</v-icon>
                Save
              </v-btn>
            </v-col>
            <v-col class="pb-2 pt-0">
              <v-btn
                color="primary"
                small
                block
                :disabled="isSaving"
                @click="undoChanges"
              >
                <v-icon left dark>mdi-restore</v-icon>
                Restore
              </v-btn>
            </v-col>
          </v-row>
        </v-list-item>
        <v-list color="primary darken-1" class="py-0">
          <v-list-item v-if="!noRules" dense>
            <v-row class="mx-auto">
              <v-col cols="8">
                <v-list-item-subtitle
                  v-if="weatherDataIsReady"
                  class="text-overline secondary--text">
                  {{ selectedPeriod.title }}: {{ selectedPeriod.temp }}&deg;C
                </v-list-item-subtitle>
              </v-col>
              <v-col cols="2" class="pa-0 d-flex justify-center">
                <v-btn
                  icon
                  small
                  @click="sortRules(nextSortOrder)"
                  color="secondary"
                  fab
                >
                  <v-icon
                    >{{
                      sortOrder === "asc"
                        ? "mdi-sort-numeric-descending"
                        : "mdi-sort-numeric-ascending"
                    }}
                  </v-icon>
                </v-btn>
              </v-col>
              <v-col cols="2" class="pa-0 d-flex justify-center">
                <v-btn
                  icon
                  small
                  @click="expandOrCollapse(expandAll)"
                  color="secondary"
                  fab
                >
                  <v-icon
                    >{{
                      expandAll
                        ? "mdi-arrow-expand-vertical"
                        : "mdi-arrow-collapse-vertical"
                    }}
                  </v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-list-item>
          <v-list-item
          three-line
            v-if="noRules"
            @click="addEmptyRule()"
          >
            <v-list-item-content>
              <v-list-item-title>Click here to add your first rule</v-list-item-title>
              <v-list-item-subtitle>Assign clothing items to custom temperature ranges. You can also create items by entering them here.</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-expansion-panels accordion multiple v-model="panel" tile>
          <v-expansion-panel v-for="rule in profileRules" :key="rule.ruleId">
            <v-expansion-panel-header v-slot="{ open }" color="darkback">
              <v-row no-gutters>
                <v-col cols="10" class="text--secondary" align-self="center">
                  <v-fade-transition leave-absolute>
                    <span v-if="open && canEdit"
                      >Set temperature range below</span
                    >
                    <v-row
                      v-else
                      no-gutters
                      style="width: 100%"
                      justify="space-around"
                    >
                      <v-col cols="5" class="text-center">
                        {{ rule.minTemp }} &deg;C
                      </v-col>
                      <v-col cols="2" class="text-center"> - </v-col>
                      <v-col cols="5" class="text-center">
                        {{ rule.maxTemp }} &deg;C
                      </v-col>
                    </v-row>
                  </v-fade-transition>
                </v-col>
                <v-col cols="2" align-self="center">
                  <v-icon color="red" small v-if="!!rule.errorMsg"
                    >mdi-alert-octagon-outline</v-icon
                  >
                  <v-icon color="upper" small v-else-if="!rule.synced"
                    >mdi-content-save-alert-outline</v-icon
                  >
                </v-col>
              </v-row>
            </v-expansion-panel-header>
            <v-expansion-panel-content color="darkback">
              <!-- Rules temp range -->
              <v-row style="width: 100%" justify="center" v-if="canEdit">
                <v-col cols="3" class="text-center pt-0 mt-n4">
                  <v-text-field
                    :placeholder="rule.minTemp.toString()"
                    v-model.number="rule.minTemp"
                    :error="!!rule.errorMsg"
                    single-line
                    hide-details="auto"
                    class="pt-0"
                    @input="validateInputs(rule.ruleId)"
                    @change="rule.synced = false"
                  >
                    <template v-slot:append>
                      <p class="ma-0 py-1">&deg;C</p>
                    </template>
                  </v-text-field>
                </v-col>
                <v-col
                  cols="2"
                  class="text-center text--secondary pt-0 mt-n4"
                  align-self="center"
                >
                  -
                </v-col>
                <v-col cols="3" class="text-center pt-0 mt-n4">
                  <v-text-field
                    v-model.number="rule.maxTemp"
                    :error="!!rule.errorMsg"
                    single-line
                    hide-details="auto"
                    class="pt-0"
                    @input="validateInputs(rule.ruleId)"
                    @change="rule.synced = false"
                  >
                    <template v-slot:append>
                      <p class="ma-0 py-1">&deg;C</p>
                    </template>
                  </v-text-field>
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col v-if="rule.errorMsg" class="text-caption red--text">
                  {{ rule.errorMsg }}
                </v-col>
              </v-row>
              <!-- Rule items -->
              <v-combobox
                v-model="select[rule.ruleId]"
                :items="availableItems"
                :disabled="!canEdit"
                multiple
                :class="canEdit ? '' : 'mt-n4'"
                :label="canEdit ? 'Add or remove items here' : ''"
                hide-details="auto"
                chips
                hint="Click on an item to change its color."
                @input="addNewItem(rule.ruleId)"
                @focus="validateInputs(rule.ruleId)"
                @blur="validateInputs(rule.ruleId)"
                @change="rule.synced = false"
              >
                <template v-slot:selection="data">
                  <clothing-chip
                    :key="data.item.itemId"
                    :color="data.item.color"
                    :input-value="data.selected"
                    @chipClicked="
                      changeChipColor(rule.ruleId, data.item.itemId)
                    "
                  >
                    {{ data.item.text }}
                  </clothing-chip>
                </template>
              </v-combobox>
              <v-row justify="center" v-if="canEdit" class="pt-4">
                <v-btn
                  v-if="!deletingRule.includes(rule.ruleId)"
                  @click="deletingRule.push(rule.ruleId)"
                  outlined
                  small
                  color="accent"
                >
                  <v-icon small left dark>mdi-delete</v-icon>
                  Delete?
                </v-btn>
                <template v-else>
                  <v-btn
                    @click="deleteRule(rule.ruleId)"
                    outlined
                    small
                    color="upper"
                    class="mx-2"
                  >
                    <v-icon small left dark>mdi-check</v-icon>
                    Delete
                  </v-btn>
                  <v-btn
                    @click="deletingRule.splice(deletingRule.indexOf(rule.ruleId), 1)"
                    outlined
                    small
                    color="accent"
                    class="mx-2"
                  >
                    <v-icon small left dark>mdi-cancel</v-icon>
                    Cancel
                  </v-btn>
                </template>

              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-form>
    </base-card>
    <v-row justify="center" v-if="canEdit" class="pt-4">
      <v-dialog v-model="deleteProfileDialog" max-width="290">
        <template v-slot:activator="{ on, attrs }">
          <v-btn outlined small color="accent" v-bind="attrs" v-on="on">
            <v-icon small left dark>mdi-delete</v-icon>
            Delete Profile
          </v-btn>
        </template>
        <base-dialog
          :dialogObj="deleteProfileDialogObj"
          @confirm="deleteProfile()"
          @cancel="deleteProfileDialog = false"
        ></base-dialog>
      </v-dialog>
    </v-row>
    <v-dialog v-model="unSavedDialog" max-width="290">
      <base-dialog
          :dialogObj="unSavedDialogObj"
          @optional="leaveDecision('save')"
          @confirm="leaveDecision('discard')"
          @cancel="unSavedDialog = false"
      ></base-dialog>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import BaseDialog from '../../components/base/BaseDialog.vue';
import ClothingChip from "../../components/profiles/clothes/ClothingChip.vue";

export default {
  components: {
    ClothingChip,
    BaseDialog,
  },
  data: () => ({
    valid: true,
    synced: true,
    to: null,
    profileId: "",
    profileRules: [],
    availableItems: [],
    select: {},
    colors: ["accent", "middle", "upper"],
    isLoading: false,
    isSaving: false,
    noRules: false,
    noItems: false,
    panel: [0],
    canEdit: false,
    sortOrder: true,
    expandAll: false,
    deletingRule: [],
    deletingProfile: false,
    deleteProfileDialog: false,
    deleteProfileDialogObj: {
      iconColor: "accent",
      icon: "mdi-alert-outline",
      title: "Warning",
      message:
        "All your rules will be lost! This action cannot be undone.",
      confirmButtonText: "Delete",
      confirmButtonColor: "accent",
      confirmButtonLoading: false,
      cancelButtonText: "Cancel",
    },
    unSavedDialog: false,
    unSavedDialogObj: {
      iconColor: "upper",
      icon: "mdi-alert-circle-outline",
      title: "Unsaved changes",
      message:
        "You can save your changes, discard them or continue editing.",
      optionalButtonText: "Save",
      optionalButtonColor: "upper",
      confirmButtonText: "Discard",
      confirmButtonColor: "accent",
      cancelButtonText: "Edit",
    },
  }),
  beforeRouteLeave (to, _, next) {
    if (this.synced || this.deletingProfile) {
      next();
      return;
    } else if (!this.synced && !this.valid) {
      this.unSavedDialogObj.optionalButtonText = "";
    } else {
      this.unSavedDialogObj.optionalButtonText = "Save";
    }
    this.unSavedDialog = true;
    this.to = to;
  },
  methods: {
    async leaveDecision(choice) {
      this.unSavedDialog = false;
      if (choice == 'save') {
        await this.saveChanges();
      } else if (choice == "discard") {
        this.synced = true;
      }
      this.$router.push(this.to);
    },
    deleteRule(id) {
      this.deletingRule.splice(this.deletingRule.indexOf(id), 1);

      const ruleIndex = this.profileRules.findIndex(
        (item) => item.ruleId === id
      );
      
      this.profileRules.splice(ruleIndex, 1);
      this.synced = false;
      this.clearErrorsIfValid();

      if (this.profileRules.length === 0) {
        this.noRules = true;
      }
    },
    
    async deleteProfile() {
      this.deletingProfile = true;
      this.deleteProfileDialogObj.confirmButtonLoading = true;
      await this.$store.dispatch("profiles/deleteProfile", {
        profileId: this.profileId,
      });
      this.deleteProfileDialog = false;
      this.$router.replace({ name: "Home" });
    },
    toggleEditing() {
      this.canEdit = !this.canEdit;
      this.clearErrorsIfValid();
    },
    addEmptyRule() {
      const key = "r-" + Date.now();

      this.profileRules.unshift({
        ruleId: key,
        minTemp: 0,
        maxTemp: 0,
        errorMsg: "",
        synced: false,
      });

      this.noRules = false;
      this.synced = false;
      this.panel = [ this.profileRules.length - 1 ];

      this.validateInputs(key);
      this.canEdit = true;
    },
    validateInputs(id) {
      this.synced = false;
      const currentRule = this.profileRules.find((i) => i.ruleId === id);
      const minTemp = currentRule.minTemp;
      const maxTemp = currentRule.maxTemp;

      if (typeof minTemp !== "number" || typeof maxTemp !== "number") {
        currentRule.errorMsg = "Check the fields only contain numbers.";
        return;
      }

      if (minTemp > maxTemp || maxTemp < minTemp) {
        currentRule.errorMsg =
          "Min temperature should be lower than or equal to max.";
        return;
      }

      const tempsOverlap = this.profileRules.some(
        (rule) =>
          rule.ruleId !== id &&
          ((minTemp >= rule.minTemp && maxTemp <= rule.maxTemp) ||
            (minTemp >= rule.minTemp &&
              minTemp <= rule.maxTemp &&
              maxTemp > rule.maxTemp) ||
            (maxTemp >= rule.minTemp &&
              maxTemp <= rule.maxTemp &&
              minTemp < rule.minTemp) ||
            (minTemp < rule.minTemp && maxTemp > rule.maxTemp))
      );

      if (tempsOverlap) {
        currentRule.errorMsg =
          "Entered temperature range overlaps other rule(s).";
        return;
      }

      if (this.select[id] === undefined || this.select[id].length === 0) {
        currentRule.errorMsg = "There must be at least one item in each rule.";
        return;
      }

      currentRule.errorMsg = "";
      this.clearErrorsIfValid();
    },
    clearErrorsIfValid() {
      this.profileRules.forEach((rule) => {
        if (rule.errorMsg) {
          this.validateInputs(rule.ruleId);
        }
      });
    },
    addNewItem(key) {
      const selectArray = this.select[key];
      selectArray.forEach((element) => {
        if (typeof element === "string") {
          const newItem = selectArray.pop();
          const newId = "i-" + Date.now();
          const newItemObj = { itemId: newId, text: newItem, color: "primary" };
          selectArray.push(newItemObj);
          this.availableItems.push(newItemObj);
        }
      });

      this.synced = false;
      this.clearErrorsIfValid();
    },
    async saveChanges() {
      this.isSaving = true;
      const rulesToSend = {};

      this.profileRules.forEach((rule) => {
        const itemsToSend = {};

        const itemArray = this.select[rule.ruleId];
        itemArray.forEach((el) => (itemsToSend[el.itemId] = true));

        rulesToSend[rule.ruleId] = {
          minTemp: rule.minTemp,
          maxTemp: rule.maxTemp,
          items: itemsToSend,
        };
      });

      const allItemsToSend = {};
      this.availableItems.forEach(
        (item) =>
          (allItemsToSend[item.itemId] = { name: item.text, type: item.color })
      );

      await this.$store.dispatch("profiles/saveRulesAndItems", {
        profileId: this.profileId,
        rules: rulesToSend,
        items: allItemsToSend,
      });

      this.profileRules.forEach((rule) => {
        rule.synced = true;
      });

      this.isSaving = false;
      this.synced = true;
    },
    changeChipColor(key, itemId) {
      const currentRule = this.profileRules.find((rule) => rule.ruleId === key);
      currentRule.synced = false;
      this.synced = false;

      const selectArray = this.select[key];
      const sIndex = selectArray.findIndex((item) => item.itemId == itemId);
      const aIndex = this.availableItems.findIndex((item) => item.itemId === itemId);

      const colorIndex = this.colors.findIndex(
        (col) => col === selectArray[sIndex].color
      );

      let selectedColor = '';
      if (colorIndex === -1 || colorIndex === this.colors.length - 1) {
        selectedColor = this.colors[0];
      } else {
        selectedColor = this.colors[colorIndex + 1];
      }

      let newItemObj = {
        itemId,
        text: selectArray[sIndex].text,
        color: selectedColor
      }

      // vm.$set(vm.items, indexOfItem, newValue)
      this.$set(selectArray, sIndex, newItemObj)
      this.$set(this.availableItems, aIndex, newItemObj)

      this.clearErrorsIfValid();
    },
    undoChanges() {
      this.setRuleStartingState();
      this.setItemsStartingState();
    },
    setItemsStartingState() {
      this.availableItems = [];

      if (this.allItemsArray.length === 0) {
        this.noItems = true;
        return;
      }

      this.allItemsArray.map((i) =>
        this.availableItems.push({ itemId: i[0], text: i[1].name, color: i[1].type })
      );
      this.availableItems.sort((a, b) => {
        let ta = a.text.toLowerCase(),
          tb = b.text.toLowerCase();

        if (ta < tb) {
          return -1;
        }
        if (ta > tb) {
          return 1;
        }
        return 0;
      });
    },
    setRuleStartingState() {
      this.synced = true;
      this.deletingRule = [];
      this.select = {};
      this.profileRules = [];

      if (
        this.rulesAndItems[this.profileId] === undefined ||
        this.rulesAndItems[this.profileId] === 0
      ) {
        this.noRules = true;
        return;
      }
      
      const filteredRsandIs = this.rulesAndItems[this.profileId].slice();

      filteredRsandIs.forEach((rule) => {
        this.profileRules.push({
          ...rule,
          errorMsg: "",
          synced: true,
        });

        this.select[rule.ruleId] = rule.items.slice();
      });
      
      this.sortOrder = 'asc';
      this.sortRules(this.sortOrder);
      this.expandCurrentPanel();
      this.noRules = false;
    },
    sortRules(sortOrder) {
      this.profileRules.sort((a, b) => {
        let ta = parseInt(a.minTemp, 10),
          tb = parseInt(b.minTemp, 10);

        if (ta === "NaN" || tb === "NaN") {
          return;
        }

        const sortDirection = sortOrder === 'asc' ? 1 : -1;

        if (ta < tb) {
          return -1 * sortDirection;
        }
        if (ta > tb) {
          return 1 * sortDirection;
        }

        return 0;
      });

      this.sortOrder = sortOrder;
    },
    expandCurrentPanel() {
      if (this.weatherDataIsReady) {
        const panelIndex = this.profileRules.findIndex(item =>
          item.minTemp <= this.selectedPeriod.temp &&
          item.maxTemp >= this.selectedPeriod.temp);
        this.panel = [ panelIndex ];
      } else {
        this.panel = [];
      }
    },
    expandOrCollapse(expandAll) {
      if (expandAll) {
        this.panel = [...this.profileRules.keys()];
      } else {
        this.panel = [];
      }

      this.expandAll = !this.expandAll;
    },
    async loadAllData() {
      await this.$store.dispatch("profiles/loadAllData", {
        forceRefresh: false,
      });
      this.setRuleStartingState();
      this.setItemsStartingState();
    },
  },
  computed: {
    ...mapGetters({
      profiles: 'profiles/profiles',
      rulesAndItems: 'profiles/rulesAndItems',
      items: 'profiles/items',
      selectedPeriod: 'weather/selectedPeriod',
      profileDataIsReady: 'profiles/dataIsReady',
      weatherDataIsReady: 'weather/dataIsReady',
    }),

    allItemsArray() {
      if (this.items === undefined) {
        return [];
      }
      return Object.entries(this.items);
    },

    selectedProfile() {
      const profile = this.profiles.filter((p) => p.id === this.profileId);
      return profile[0];
    },

    nextSortOrder() {
      return this.sortOrder === 'asc' ? 'desc' : 'asc';
    },

    canSave() {
      return this.valid && !this.synced && !this.isSaving && !this.noRules;
    },

  },
  created() {
    this.profileId = this.$route.params.profileId;
    this.loadAllData();
  },
  
};
</script>

<style>
</style>