<template>
<div>
  <geo-loc-alert></geo-loc-alert>
  <weather-alerts></weather-alerts>
  <weather></weather>
  <matched-rules></matched-rules>
</div>
</template>

<script>
import Weather from '../components/weather/Weather.vue';
import WeatherAlerts from '../components/weather/WeatherAlerts.vue';
import GeoLocAlert from '../components/weather/GeoLocAlert.vue';
import MatchedRules from '../components/profiles/rules/MatchedRules.vue'

export default {
    components: {
        Weather,
        WeatherAlerts,
        GeoLocAlert,
        MatchedRules
    },
    data: () => ({

    }),
    methods: {
      async loadData() {
        await this.$store.dispatch('profiles/loadAllData', { forceRefresh: false });
      },
    },
    created() {
      this.loadData();
    },
}
</script>

<style>

</style>