<template>
  <div>
    <base-card v-if="isLoading">
      <v-skeleton-loader type="article"> </v-skeleton-loader>
    </base-card>
    <base-card v-else>
      <v-form v-model="valid">
        <v-list-item>
          <v-list-item-avatar color="primary">
            <v-icon>mdi-tab</v-icon>
          </v-list-item-avatar>
          <v-list-item-title class="headline font-weight-thin">
            Home tabs settings
          </v-list-item-title>
          <v-list-item-action class="mr-3">
            <v-btn
              small
              fab
              color="primary"
              @click="addTab()"
              :disabled="tabs.length >= 4"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-list-item dense>
          <v-row>
            <v-col class="pb-2 pt-0">
              <v-btn
                :loading="isSaving"
                color="upper"
                light
                small
                block
                :disabled="!canSave"
                @click="saveChanges"
              >
                <v-icon left dark>mdi-content-save-outline</v-icon>
                Save
              </v-btn>
            </v-col>
            <v-col class="pb-2 pt-0">
              <v-btn
                color="primary"
                small
                block
                :disabled="isSaving"
                @click="setStartingState"
              >
                <v-icon left dark>mdi-restore</v-icon>
                Restore
              </v-btn>
            </v-col>
          </v-row>
        </v-list-item>
        <v-expansion-panels accordion v-model="panel" tile>
          <v-expansion-panel v-for="(tab, index) in tabs" :key="index">
            <v-expansion-panel-header v-slot="{ open }" color="darkback">
              <v-row no-gutters>
                <v-col cols="10" align-self="center">
                  <v-fade-transition leave-absolute v-if="index !== 0">
                    <span class="text--secondary" v-if="open"
                      >Configure tab {{ index + 1 }} below</span
                    >
                    <span v-else>{{ index + 1 }}: {{ tab.title }}</span>
                  </v-fade-transition>
                  <span v-else>{{ index + 1 }}: {{ tab.title }} (fixed) </span>
                </v-col>
                <v-col cols="2" align-self="center">
                  <v-icon color="red" small v-if="!!tab.errorMsg"
                    >mdi-alert-octagon-outline</v-icon
                  >
                  <v-icon color="upper" small v-else-if="!tab.synced"
                    >mdi-content-save-alert-outline</v-icon
                  >
                </v-col>
              </v-row>
            </v-expansion-panel-header>
            <v-expansion-panel-content color="darkback">
              <v-row>
                <v-col cols="7" align-self="center">
                  <v-list-item-title v-if="index === 0">
                    {{ tab.title }}
                  </v-list-item-title>
                  <v-text-field
                    v-else
                    dense
                    class="mt-0"
                    counter
                    maxlength="13"
                    hide-details="auto"
                    label="Tab title"
                    :rules="[
                      (v) => v.trim().length > 0 || 'Field is mandatory',
                    ]"
                    v-model.trim="tab.title"
                    @change="tab.synced = false"
                  ></v-text-field>
                </v-col>
                <v-col cols="3" align-self="center" class="d-flex justify-end">
                  Icon:
                </v-col>
                <v-col cols="2" align-self="center">
                  <v-menu>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        small
                        v-bind="attrs"
                        v-on="on"
                        fab
                        color="secondary"
                        :disabled="index === 0"
                        @click="tab.synced = false"
                      >
                        <v-icon>{{ icons[tab.icon] }}</v-icon>
                      </v-btn>
                    </template>
                    <v-list dense>
                      <v-list-item-group v-model="tab.icon">
                        <v-list-item
                          v-for="(icon, index) in icons"
                          :key="index"
                        >
                          <v-icon>{{ icon }}</v-icon>
                        </v-list-item>
                      </v-list-item-group>
                    </v-list>
                  </v-menu>
                </v-col>
              </v-row>
              <v-row v-if="index === 0">
                <v-col class="mt-6 pb-1">
                  <v-slider
                    label="Hours to display:"
                    color="secondary"
                    v-model="tab.nextHourRange"
                    hide-details="auto"
                    :min="3"
                    :max="5"
                    thumb-label="always"
                    @input="setNextTabTitle()"
                    @change="tab.synced = false"
                  ></v-slider>
                </v-col>
              </v-row>
              <v-row v-if="index !== 0">
                <v-col>
                  <v-select
                    v-model.number="tab.fromHour"
                    label="From"
                    dense
                    hide-details="auto"
                    :items="fromHours(tab.toHour)"
                    :error-messages="tab.errorMsg"
                    @input="validateHours(index)"
                    menu-props="auto"
                    :rules="[(v) => !!v] || 'Please choose an hour'"
                    @change="tab.synced = false"
                  ></v-select>
                </v-col>
                <v-col>
                  <v-select
                    v-model.number="tab.toHour"
                    label="To"
                    dense
                    hide-details="auto"
                    :items="toHours(tab.fromHour)"
                    :error-messages="tab.errorMsg"
                    @input="validateHours(index)"
                    menu-props="auto"
                    :rules="[(v) => !!v] || 'Please choose an hour'"
                    @change="tab.synced = false"
                  ></v-select>
                </v-col>
              </v-row>
              <v-row v-if="index !== 0">
                <v-col>
                  <v-radio-group
                    v-model="tab.days"
                    label="Forecast for: "
                    row
                    mandatory
                    hide-details="auto"
                    class="mt-0"
                    dense
                    @change="tab.synced = false"
                  >
                    <v-radio color="upper" label="Today" :value="0"></v-radio>
                    <v-radio
                      color="upper"
                      label="Tomorrow"
                      :value="1"
                    ></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
              <v-row justify="center" class="pt-4" v-if="index !== 0">
                <v-btn
                  v-if="!deletingTab.includes(index)"
                  @click="deletingTab.push(index)"
                  outlined
                  small
                  color="accent"
                >
                  <v-icon small left dark>mdi-delete</v-icon>
                  Delete?
                </v-btn>
                <template v-else>
                  <v-btn
                    @click="deleteTab(index)"
                    outlined
                    small
                    color="upper"
                    class="mx-2"
                  >
                    <v-icon small left dark>mdi-check</v-icon>
                    Delete
                  </v-btn>
                  <v-btn
                    @click="deletingTab.splice(deletingTab.indexOf(index), 1)"
                    outlined
                    small
                    color="accent"
                    class="mx-2"
                  >
                    <v-icon small left dark>mdi-cancel</v-icon>
                    Cancel
                  </v-btn>
                </template>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-form>
    </base-card>
    <v-dialog v-model="unSavedDialog" max-width="290">
      <base-dialog
        :dialogObj="unSavedDialogObj"
        @optional="leaveDecision('save')"
        @confirm="leaveDecision('discard')"
        @cancel="unSavedDialog = false"
      ></base-dialog>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data: () => ({
    valid: true,
    synced: true,
    isSaving: false,
    isLoading: true,
    panel: [0],
    deletingTab: [],
    hours: [],
    defaultTab: [],
    tabs: [],
    iconList: 0,
    unSavedDialog: false,
    unSavedDialogObj: {
      iconColor: "upper",
      icon: "mdi-alert-circle-outline",
      title: "Unsaved changes",
      message: "You can save your changes, discard them or continue editing.",
      optionalButtonText: "Save",
      optionalButtonColor: "upper",
      confirmButtonText: "Discard",
      confirmButtonColor: "accent",
      cancelButtonText: "Edit",
    },
  }),

  beforeRouteLeave(to, _, next) {
    if (this.allSynced) {
      next();
      return;
    } else if (!this.allSynced && !this.valid) {
      this.unSavedDialogObj.optionalButtonText = "";
    } else {
      this.unSavedDialogObj.optionalButtonText = "Save";
    }
    this.unSavedDialog = true;
    this.to = to;
  },

  methods: {
    async leaveDecision(choice) {
      this.unSavedDialog = false;
      if (choice == "save") {
        await this.saveChanges();
      } else if (choice == "discard") {
        this.tabs.forEach(t => t.synced = true);
        this.synced = true;
      }
      this.$router.push(this.to);
    },

    addTab() {
      this.valid = false;

      this.tabs.push({
        icon: 2,
        title: "",
        days: 0,
        nextHourRange: 0,
        fromHour: "",
        toHour: "",
        synced: false,
        errorMsg: "",
      });
      const newLength = this.tabs.length;

      this.panel = newLength - 1;
    },

    deleteTab(index) {
      this.deletingTab.splice(this.deletingTab.indexOf(index), 1);
      this.tabs.splice(index, 1);
      this.synced = false;
    },

    sortTabs() {
      this.tabs.sort((a, b) => {
        if (a.nextHourRange > 0) return -1;
        if (b.nextHourRange > 0) return 1;

        if (a.days > b.days) {
          return 1;
        } else if (a.days < b.days) {
          return -1;
        } else {
          if (a.fromHour > b.fromHour) {
            return 1;
          } else if (a.fromHour < b.fromHour) {
            return -1;
          }
        }
        return 0;
      })
    },

    async saveChanges() {
      this.isSaving = true;
      const payload = [];

      this.sortTabs();

      this.tabs.forEach((tab) => {
        payload.push({
          icon: tab.icon,
          title: tab.title,
          days: tab.days,
          nextHourRange: tab.nextHourRange,
          fromHour: tab.fromHour,
          toHour: tab.toHour,
        });
      });

      await this.$store.dispatch("weather/saveTabsData", payload);
      this.tabs.forEach((tab) => (tab.synced = true));
      this.synced = true;
      this.isSaving = false;
    },

    setStartingState() {
      this.valid = true;
      this.synced = true;
      this.tabs = [];

      const tabsTemp = this.storedTabs.slice();

      tabsTemp.forEach((tab) => (
        this.tabs.push({
          ...tab,
          synced: true,
          errorMsg: "",
        })
      ));

      this.isLoading = false;
    },

    fromHours(to) {
      const max = Math.min(to - 1, 22);
      return this.hours.slice(0, max);
    },

    toHours(from) {
      return this.hours.slice(from + 2);
    },

    validateHours(index) {
      const tab = this.tabs[index];

      if (tab.toHour - tab.fromHour > 4) {
        tab.errorMsg = "Range is max 5 hours";
      } else {
        tab.errorMsg = "";
      }
    },

    setNextTabTitle() {
      const noOfHours = this.tabs[0].nextHourRange;
      this.tabs[0].title = `Next ${noOfHours} hours`;
    },

    async loadTabsData() {
      this.isLoading = true;
      await this.$store.dispatch("weather/loadTabsData");
      this.setStartingState();
    },
  },
  computed: {
    canSave() {
      return this.valid && this.allSynced === false && !this.isSaving;
    },

    allSynced() {
      if (this.tabs.every((t) => t.synced === true) && this.synced === true) {
        return true;
      }
      return false;
    },

    storedTabs() {
      return this.$store.getters["weather/tabs"];
    },

    icons() {
      return this.$store.getters['weather/icons'];
    },
  },
  created() {
    this.hours = [];
    for (let i = 0; i < 24; i++) {
      this.hours.push(i);
    }

    this.loadTabsData();
  },
};
</script>

<style>
</style>