<template>
  <base-card v-if="!isAutoLogin">
    <v-card-title class="headline font-weight-thin">
      Sign in or Register
    </v-card-title>
    <v-form @submit.prevent="submitForm" v-model="valid" ref="form">
      <v-sheet color="darkback" rounded="" class="pb-2 mb-2 mx-2">
        <v-container>
          <v-row class="mx-2">
            <v-text-field
              label="E-mail"
              type="email"
              prepend-icon="mdi-email-outline"
              v-model="email"
              :rules="emailRules"
              :readonly="isLoading"
            ></v-text-field>
          </v-row>
          <v-row class="mx-2">
            <v-text-field
              auto-complete="password"
              label="Password"
              prepend-icon="mdi-lock-outline"
              v-model="password"
              :rules="passwordRules"
              error-count="5"
              :append-icon="pwValue ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="() => (pwValue = !pwValue)"
              :type="pwValue ? 'password' : 'text'"
              :readonly="isLoading"
            ></v-text-field>
          </v-row>
          <v-row class="mx-2">
            <v-checkbox v-model="rememberMe" label="Remember me"></v-checkbox>
          </v-row>
        </v-container>
      </v-sheet>
      <v-card-actions>
        <v-btn
          block
          color="upper"
          type="submitForm"
          light
          :disabled="!valid"
          :loading="isLoading"
        >
          <v-icon left>{{
            isLoginMode ? "mdi-login-variant" : "mdi-account-plus-outline"
          }}</v-icon>
          {{ isLoginMode ? "Sign in" : "Register" }}
        </v-btn>
      </v-card-actions>
      <v-card-actions class="pt-1">
        <v-btn
          block
          text
          @click="isLoginMode = !isLoginMode"
          :disabled="isLoading"
        >
          <v-icon left>{{
            !isLoginMode ? "mdi-login-variant" : "mdi-account-plus-outline"
          }}</v-icon>
          {{ isLoginMode ? "Register instead" : "Sign in instead" }}
        </v-btn>
      </v-card-actions>
    </v-form>
    <base-error :enabled.sync="isError" :message="errorMsg"></base-error>
  </base-card>
</template>

<script>
export default {
  data: () => ({
    isLoginMode: true,
    isLoading: false,
    valid: true,
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    password: "",
    pwValue: true,
    errorMsg: "",
    isError: false,
    rememberMe: false,
  }),
  methods: {
    async submitForm() {
      this.isLoading = true;

      const actionPayload = {
        email: this.email,
        password: this.password,
        rememberMe: this.rememberMe,
        isLoginMode: this.isLoginMode
      };

      await this.$store.dispatch("auth", actionPayload);

      this.isLoading = false;
    },
  },
  computed: {
    passwordRules() {
      if (this.isLoginMode) {
        return [(v) => !!v || "Password is required"];
      } else {
        return [
          (v) => !!v || "Password is required",
          (v) => (v && v.length >= 8) || "Password must have 8+ characters",
          (v) => /(?=.*[A-Z])/.test(v) || "Must have one uppercase character",
          (v) => /(?=.*\d)/.test(v) || "Must have one number",
          (v) =>
            /([!@#$%=><&?£:~.])/.test(v) ||
            "Must have one special character [!@#$%=><&?£:~.]",
        ];
      }
    },
    didAutoLogout() {
      return this.$store.getters["didAutoLogout"];
    },
    isAutoLogin() {
      return this.$store.getters["isAutoLogin"];
    },
    isLoggedIn() {
      return this.$store.getters["isLoggedIn"];
    },
  },
  watch: {
    isLoggedIn: function (val) {
      if (val === true) {
        this.$router.replace("/");
      }
    },
  },
};
</script>

<style>
</style>