<template>
  <v-card class="mx-auto my-1" max-width="400">
    <v-alert
      v-model="alert"
      dense
      outlined
      type="error"
      icon="mdi-alert-circle-outline"
      dismissible
      class="mb-2"
    >
      {{ message }}
    </v-alert>
  </v-card>
</template>

<script>
export default {
  props: {
        message: {
            type: String,
            required: true,
        }
    },
  data: () => ({
    alert: true,
  }),
};
</script>

<style>
</style>