<template>
  <v-dialog v-model="enabled" max-width="290">
        <v-card color="darkback">
          <v-card-title class="headline font-weight-thin">
              <v-icon large color="error">mdi-alert-octagon-outline</v-icon>
            <span class="pl-1">Error</span>
          </v-card-title>
          <v-card-text>
            {{ message }}
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="secondary" text @click="closeEvent()">
              Dismiss
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
</template>

<script>
export default {
    data: () => ({
    }),
    props: {
        enabled: {
            type: Boolean,
            required: true,
        },
        message: {
            type: String,
            required: true,
        }
    },
    methods: {
        closeEvent() {
            this.$emit('update:enabled', false)
        }
    }
}
</script>

<style>

</style>