<template>
  <v-card color="darkback">
    <v-card-title class="headline font-weight-thin">
      <v-icon large :color="dialogObj.iconColor">{{ dialogObj.icon }}</v-icon>
      <span class="pl-1">{{ dialogObj.title }}</span>
    </v-card-title>
    <v-card-text>
      {{ dialogObj.message }}
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn v-if="dialogObj.optionalButtonText"
        :color="dialogObj.optionalButtonColor"
        :loading="dialogObj.optionalButtonLoading"
        :disabled="dialogObj.optionalButtonLoading"
        text
        @click="optionalDialog()"
      >
        {{ dialogObj.optionalButtonText }}
      </v-btn>
      <v-btn
        :color="dialogObj.confirmButtonColor"
        :loading="dialogObj.confirmButtonLoading"
        :disabled="dialogObj.confirmButtonLoading"
        text
        @click="confirmDialog()"
      >
        {{ dialogObj.confirmButtonText }}
      </v-btn>
      <v-btn
        text
        :disabled="dialogObj.confirmButtonLoading || dialogObj.optionalButtonLoading"
        @click="cancelDialog()">{{
        dialogObj.cancelButtonText
      }}</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: ["dialogObj"],
  methods: {
    optionalDialog() {
      this.$emit("optional");
    },
    confirmDialog() {
      this.$emit("confirm");
    },
    cancelDialog() {
      this.$emit("cancel");
    },
  },
};
</script>

<style>
</style>