<template>
    <v-card class="mx-auto mb-2" max-width="650" :color=color tile>
        <slot></slot>
    </v-card>
</template>

<script>
export default {
    props: {
        color: {
            type: String,
            required: false,
            default: 'secondary'
        },
        // unlimited: {
        //     type: Boolean,
        //     required: false,
        //     default: true
        // }
    },
    computed: {
        // calcStyle() {
        //     if (!this.unlimited && this.$vuetify.breakpoint.name === 'xs') {
        //         return "max-height: 580px;";
        //     } else if (!this.unlimited) {
        //         return "max-height: 1000px;"
        //     } else return "";
        // }
    }
}
</script>