<template>
  <v-list>
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="title font-weight-thin text-uppercase">
          <span>Dress4</span>
          <span class="font-weight-bold">Weather</span>
        </v-list-item-title>
        <v-list-item-subtitle class="text-caption text--disabled">
          {{ version }}
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-divider></v-divider>
    <v-list nav>
      <v-list-item-group v-model="group">

        <v-list-item to="/">
          <v-list-item-icon>
            <v-icon>mdi-home-variant-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Home</v-list-item-title>
        </v-list-item>
        
        <v-list-item to="/profiles">
          <v-list-item-icon
            ><v-icon>mdi-face-man</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Profiles</v-list-item-title>
        </v-list-item>

        <v-list-item to="/items">
          <v-list-item-icon
            ><v-icon>mdi-tshirt-crew-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Items</v-list-item-title>
        </v-list-item>

        <v-list-item to="/settings">
          <v-list-item-icon>
            <v-icon>mdi-tab</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Tab settings</v-list-item-title>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item @click="logout">
          <v-list-item-icon
            ><v-icon>mdi-logout-variant</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Logout</v-list-item-title>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-list>
</template>

<script>
export default {
  data: () => ({
    group: null,
  }),
  methods: {
    logout() {
      this.$store.dispatch("logout");
      this.$router.replace("/auth");
    },
  },
  computed: {
    version() {
      return this.$store.getters['version'];
    }
  }
};
</script>

<style>
</style>