<template>
  <v-app-bar app dense color="primary" dark elevation="1">
    <v-app-bar-nav-icon @click="openDrawer"></v-app-bar-nav-icon>
    <v-toolbar-title
      class="headline font-weight-thin text-uppercase"
      style="cursor: pointer"
      @click="toHome"
    >
      <span>Dress4</span>
      <span class="font-weight-bold">Weather</span>
    </v-toolbar-title>
  </v-app-bar>
</template>

<script>
import VueRouter from "vue-router";
const { isNavigationFailure, NavigationFailureType } = VueRouter;

export default {
  computed: {
    isLoggedIn() {
      return this.$store.getters["isLoggedIn"];
    },
  },
  methods: {
    toHome() {
      if (this.isLoggedIn) {
        this.$router.push("/").catch((failure) => {
          if (isNavigationFailure(failure, NavigationFailureType.duplicated)) {
            return;
          }
        });
      } else return;
    },
    openDrawer() {
      if (this.isLoggedIn) {
        this.$emit('drawer');
      }
    },
    logout() {
      this.$store.dispatch("logout");
      this.$router.replace("/auth");
    },
  },
};
</script>