<template>
  <v-app>
    <the-header @drawer="drawer = !drawer"></the-header>
    <v-navigation-drawer app v-model="drawer" color="primary" v-if="isLoggedIn">
      <nav-drawer-list></nav-drawer-list>
    </v-navigation-drawer>
    <v-main>
        <v-fade-transition :hide-on-leave="true">
          <router-view></router-view>
        </v-fade-transition>
      <base-error :enabled.sync="isError" :message="errorMsg"></base-error>
    </v-main>
    
  </v-app>
</template>

<script>
import TheHeader from "./components/TheHeader.vue";
import NavDrawerList from "./components/NavDrawerList.vue";

export default {
  name: "App",

  components: {
    TheHeader,
    NavDrawerList,
  },
  data: () => ({
    errorMsg: "",
    isError: false,
    drawer: false,
  }),
  created() {
    this.$store.dispatch("tryLogin");
  },
  computed: {
    didAutoLogout() {
      return this.$store.getters["didAutoLogout"];
    },
    appErrors() {
      return this.$store.getters["appErrors"];
    },
    isLoggedIn() {
      return this.$store.getters["isLoggedIn"];
    },
  },

  watch: {
    didAutoLogout(curValue, oldValue) {
      if (curValue && curValue !== oldValue) {
        this.$router.replace("/auth");
      }
    },
    appErrors: {
      handler(newVal) {
        if (newVal) {
          this.isError = true;
          this.errorMsg = newVal;
        }
      },
      immediate: true,
    },
  },
};
</script>

<style>
  .theme--dark.v-list {
    background: #21242b;
  }
  
  .v-pagination__item,
  .v-pagination__navigation {
    background: #474c5c !important;
  }

  .v-input__slot {
    background: transparent !important;
  }
</style>
